doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    script(type='text/javascript', src='/js/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', data-main="/js/requireMain", src='/js/vendor/requirejs/require.js')
